// PALETTE
$white: #F2F3F3;
$gray: #82878E;
$brown: #CAA37C;
$blue: #202936;
$dark-blue: #1F2834;
$darkest-blue: #1D2630;

$font-sans-serif: 'Open Sans', 'Helvetica-Neue', helvetica, arial, sans-serif;